<div class="cookie-banner" *ngIf="visible">
  <div class="cookie-content">
    <div class="cookie-text">
      <p>
        {{ 'cookieBanner.text' | transloco }}
        <a [routerLink]="'/privacy-policy' | localizeLink">{{ 'cookieBanner.privacyPolicy' | transloco }}</a>.
      </p>
    </div>
    <div class="cookie-actions">
      <button class="btn-reject" (click)="reject()">{{ 'cookieBanner.reject' | transloco }}</button>
      <button class="btn-accept" (click)="accept()">{{ 'cookieBanner.accept' | transloco }}</button>
    </div>
  </div>
</div>