<div class="bg-light shadow-sm py-4">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">

    <div class="mb-3 mb-md-0 text-muted" style="font-size: 1rem;">
      {{ 'footer.copyright' | transloco }}
    </div>

    <ul class="list-unstyled d-flex mb-0">
      <li>
        <a [routerLink]="'/founder' | localizeLink" class="text-dark fw-semibold me-4 text-decoration-none">{{ 'footer.links.creator' | transloco }}</a>
      </li>
      <li>
        <a [routerLink]="'/learn' | localizeLink" class="text-dark fw-semibold me-4 text-decoration-none">{{ 'footer.links.learn' | transloco }}</a>
      </li>
      <li>
        <a [routerLink]="'/hall-of-fame' | localizeLink" class="text-dark fw-semibold me-4 text-decoration-none">{{ 'footer.links.hallOfFame' | transloco }}</a>
      </li>
      <li>
        <a [routerLink]="'/privacy-policy' | localizeLink" class="text-dark fw-semibold me-4 text-decoration-none">{{ 'footer.links.privacy' | transloco }}</a>
      </li>
      <li>
        <a [routerLink]="'/terms-of-use' | localizeLink" class="text-dark fw-semibold text-decoration-none">{{ 'footer.links.terms' | transloco }}</a>
      </li>
    </ul>

  </div>
</div>
